@import '../../lib/bootstrap.scss';


.puzzle {
  padding: 30px 0;
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }

  .tile {
    padding: 5px;
    border-right: 2px dotted #000;
    &:first-of-type {
      border-left: 2px dotted #000;
    }
    & > div:before {
      content: attr(data-attr);
      display: block;
      color: #fff;
      font-size: 48px;
      height: 100%;
      width: 100%;
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      cursor: pointer;
      margin: auto;
    }
  }
  .tiles {
    & > .row {
      border-top: 2px dotted #000;
      margin-left: 0;
      margin-right: 0;
      &:last-of-type {
        border-bottom: 2px dotted #000;
      }
    }
  }

  .img-fluid {
    display: inline-block;
    height: auto;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
  }

  .button-wrapper {
    margin: 20px 0;
  }
}