.container {
  max-width: 600px; }

.col-sm {
  width: 100%;
  float: left; }
  @media (min-width: 992px) {
    .col-sm:first-child {
      width: 75%; }
    .col-sm:last-child {
      width: 25%; } }
